// Place all the styles related to the Destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .sleep_container {
//   height: 300px;
// }



nav {
  border: 2px solid green;
  width: 100%;
  overflow: auto;
}

i.fa.fa-home.fa-2x {
  float: left;
}

i.fa {
  padding: 10px;
  color: grey;
  float: right;
}


a:hover i.fa {color: black;}


#logo {
  border: 2px solid red;
  text-align: center;
}

#logo h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 100px;
  padding: 15px;
  line-height: 100%;
}

.search {
  border: 2px solid blue;
  display: block;
}

#destination_search {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

#q_city_or_country_cont {
  max-width: 300px;
  margin: 0 auto;
}

#submit {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

.photos_container {
  border: 2px solid green;
}

.photos_container li {
  border: 2px solid yellow;
  display: inline-block;
  // position: relative; 
}



.photos_container h3 {
   // position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}







// For show page


#map-canvas {
  display: inline;
  width: 300px;
  height: 300px;
  float: left;
  margin-right: 5px;
}


#country_header {
  border: 2px solid red;
  text-align: center;
}

#country_header h1 {
  font-size: 100px;
  line-height: 100%;
}

#country_header h3 {
  font-family: 'Amatic SC', cursive;
  line-height: 100%;
  font-size: 50px;
}






















